<nav>
  <div class="logo">
    <!-- <img src="assets/logo.png" alt="Solar" height="40px"> -->
  </div>
<!-- Hamburger Icon for Mobile -->
<button class="hamburger" (click)="toggleSidebar()">☰</button>
  <ul>
    <li>
      <a routerLink="/product-service">Product Service</a>
      <ul>
        <li><a routerLink="/product-service/cm">CM</a></li>
        <li><a routerLink="/product-service/pm">PM</a></li>
      </ul>
    </li>
    <li><a routerLink="/execute">Execute</a></li>
    <li><a routerLink="/status-installation">Status Installation</a></li>
    <li><a routerLink="/queries">Queries</a></li>
  </ul>

  <!-- Login Button -->
  <div class="auth-buttons">
    <button class="login-btn" routerLink="/login">Login</button>
    <button class="admin-btn" routerLink="/admin-login">Admin</button>
  </div>

  
  
</nav>

<!-- Sidebar for Mobile -->
<div class="sidebar" [class.sidebar-open]="isSidebarOpen">
  <ul>
    <li><a routerLink="/product-service" (click)="toggleSidebar()">Product Service</a></li>
    <li><a routerLink="/product-service/cm" (click)="toggleSidebar()">CM</a></li>
    <li><a routerLink="/product-service/pm" (click)="toggleSidebar()">PM</a></li>
    <li><a routerLink="/execute" (click)="toggleSidebar()">Execute</a></li>
    <li><a routerLink="/status-installation" (click)="toggleSidebar()">Status Installation</a></li>
    <li><a routerLink="/queries" (click)="toggleSidebar()">Queries</a></li>
    <li><button class="login-btn" routerLink="/login" (click)="toggleSidebar()">Login</button></li>
  </ul>
</div>
